.songs {
  height: 120px;
}

h1.artist-name {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.artist-cont {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.albums {
  display: flex;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

img.spotify {
  height: 25px;
  width: 25px;
}

.review-form {
  width: 50%;
  margin-right: -300px;
}

.review-body {
  margin-left: 10px;
}

.album-header {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.rating {
  border-bottom: 1px solid #ddd;
}

.popup {
  margin-top: 100px;
}

ul {
  list-style: none;
  box-sizing: border-box;
}

ul.gray {
  background-color: #eee;
}

li.album {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

li.spot {
  padding-top: 8px;
  padding-left: 5px;
}

ul:hover {
  cursor: pointer;
}

textarea {
  width: 300px;
  height: 130px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}


tr:hover {background-color:#f5f5f5;}
